# Containers

## List

In [1]:
empty_list = []
empty_list = list()

numbers = [1, 2, 3, 4]
my_list = [1, 0.2, True, "Vetit", None, [], [1, 2], print, input, empty_list]

Hello+World!

## Length, Indexing, Slicing, Loop

In [2]:
l = [1, True, 0.5]
len(l)

3

In [7]:
s = "Vetit"
l = [1, True, 0.5, "Palm", None, print]
s[3]
l[2]
l[-1]
l[3][1]

'a'

In [11]:
l = [1, True, 0.5, "Palm", None, print]
l[1:3]
l[::-1]

[<function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 None,
 'Palm',
 0.5,
 True,
 1]

## Modifying our list

### Add

In [21]:
l = [1, 2, 3]
l.append(4)
l
l.insert(0, True)
l
l.extend([5, 6, 7, 8, 9, 10])
l += [5, 6, 7, 8, 9, 10] # same as previous line
l

[True, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]

In [26]:
a = [1, 2, 3]
b = [4, 5, 6]
# c = [[1, 2, 3], [4, 5, 6]]
c = []
c.extend([a, b])
c

[[1, 2, 3], [4, 5, 6]]

### Remove

In [31]:
l = [1, 2, 3]
last_element = l.pop(1)
l

[1, 3]

In [43]:
l = [1, True, 0.5, None, 1, "Vetit"]

for element in l:
    print(element)
    if element == 1:
        l.remove(element)

# print(l)

1
0.5
None
1

In [46]:
l = [1, 2, 0.5, None, 1, "Vetit"]
count_of_one = l.count(1)

for i in range(count_of_one):
    l.remove(1)
l

[2, 0.5, None, 'Vetit']

In [1]:
l = [1, 2, 0.5, None, 1, "Vetit"]
new_list = []

for element in l:
    if element != 1:
        new_list.append(element)

new_list

[2, 0.5, None, 'Vetit']

In [2]:
new_list = [element for element in l if element != 1]
new_list

[2, 0.5, None, 'Vetit']

### Update/Change the element

In [5]:
l = [1, 2, 0.5, None, 1, "Vetit"]
l[1] = 3

'e'

## *list (List extractor)

In [12]:
l = [1, True, 0.5, "Palm", None, print]
print(l)
print(*l)

[1, True, 0.5, 'Palm', None, <built-in function print>]
1 True 0.5 Palm None <built-in function print>

In [18]:
zeroes = [0] * 10
[3] + [2]

[3, 2]

In [24]:
l = [1, 2, 1, 3, 1, 4]
l.reverse()
l

[4, 1, 3, 1, 2, 1]

In [34]:
l = [1, 2, 1, 3, 1, 4]
l.sort(reverse=True)
l

[4, 3, 2, 1, 1, 1]

In [39]:
l = ['Vetit', 'Due']
l.sort()
l

['Due', 'Vetit']

### in / not in

In [43]:
s = 'I love pea'
'ov' in s

True

In [49]:
l = [1, 2, 1, 3, 1, 4, [3]]
1 not in l
print([1, 2] in l) # False
print([3] in l)

False
True

List conditionals

In [52]:
l = [1, 2, 1, 3, 1, 4, [3]]
if 5 in l:
    print("YAY")
else:
    print("NOOO")

NOOO

map

In [53]:
l = [1.5, 2.5, 3.5]
list(map(int, l))

[1, 2, 3]

In [54]:
l = [0, 1, 0.0]
list(map(str, l))

['0', '1', '0.0']

In [ ]:
l = list(map(int, input().split()))

### input
1 2 3 4 5
### in code
l = [1, 2, 3, 4, 5]

1 2 3 4 5

In [61]:
l = list(map(int, input().split()))
l

[8, 7, 6, 5, 4, 3, 2, 1]

## Tuple

Tuple is a list but
- immutable (members cannot be changed, added, or deleted)

In [68]:
empty_list = []
empty_tuple = ()
empty_tuple = tuple()

t = (1, 2, 3)
one_element_tuple = (2,)

type(one_element_tuple)

tuple

## All actions
### Tuple 
- if else elif
- loops
- in/ not in
- ~~add ele~~
- ~~remove ele~~
- ~~change ele~~
- .count()
- ~~.sort(), .reverse(), ...~~
- len()
- *list
- map()
- list * 5
- list1 + list2

In [77]:
t = (4, 1, 3)
sorted(t)
list(reversed(t))

[3, 1, 4]

In [78]:
print(*t)

4 1 3

In [81]:
tuple(map(int, input().split()))

(1, 2, 3, 4, 5)

In [82]:
t = (4, 1, 3)
t * 5

(4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3)

In [85]:
t1 = (1, 2, 3) 
t2 = (4, 5, 6)
t1 + t2, t1, t2

((1, 2, 3, 4, 5, 6), (1, 2, 3), (4, 5, 6))

And what's the point of using tuple?

1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (in python!) that stores sequence of data

# Set

## Set operations
- union
- intersection
- difference

In [4]:
# set is a container that contain only unique elements
empty_set = set()
non_empty_set = {1, 2, 3, 3}
non_empty_set

{1, 2, 3}

In [6]:
l = [1, 2, 3, 3, 4]
t = (1, 2, 3, 4, 4, 5)
set(t)

{1, 2, 3, 4, 5}

## All actions
### Set 
- if else elif
- loops
- in/ not in
- add ele
- remove ele
- change ele (by removing and adding)
- ~~.count()~~
- ~~indexing, slicing~~
- ~~.sort(), .reverse(), ...~~
- len()
- *set
- map()
- ~~list * 5~~
- ~~list1 + list2~~

In [41]:
s1 = {1, 1, 2, 3, 4}
s1.add(5)
s1.remove(1)
print(s1)
s1.pop()
print(s1)
s1.pop()
s1

{2, 3, 4, 5}
{3, 4, 5}

{4, 5}

In [54]:
words = {'cat', 'dogs', True, False, None, 1, 0.5, (1, 2)}
words.pop()
words
# print(words)
# words.pop()
# print(words)

{(1, 2), 0.5, None, True, 'cat', 'dogs'}

In [56]:
s1 = {1, 2, 3}
s1.update([2, 3, 4])
s1

{1, 2, 3, 4}

### union

In [6]:
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)
a | b

{1, 2, 3, 4, 5}

Intersection

In [8]:
a.intersection(b)
a & b

{3}

In [ ]:

a.difference(b) # a-b
a-b
b-a
b.difference(a)

In/ not in

In [18]:
s = {1, 2, 3} # O(1)
l = [1, 2, 3] # O(n)
0 in l
0 not in s

True

In [19]:
if 1 in s:
    print('YAY')
else:
    print('I love pea!')

YAY

loop

In [20]:
s = {1, 2, 3}
for ele in s:
    print(ele)

1
2
3

In [3]:
s = {'apple', 'banana', 'cat', 'dog'}
for i, ele in enumerate(s):
    print(i, ele)

0 cat
1 banana
2 apple
3 dog

In [1]:
hash('apple')

2052101521052591075

# Dictionary

In [8]:
empty_dict = {}
empty_dict = dict()

animals_legs = {'hourse': 4, 'human': 2, 'fish': 'zero'}

In [13]:
# d = {[1, 2]: 'NO'}
# d = {{1, 2}: 'NO'}
d = {(1, 2): 'NO'}
d = {True: 'NO'}

calling

In [23]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 3, (1,2): 0}
animals_legs['horse']

4

change the value

In [24]:
animals_legs['horse'] = 6
animals_legs

{'horse': 6, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 3, (1, 2): 0}

add key-value pair

In [25]:
animals_legs['centipede'] = 100
animals_legs

{'horse': 6,
 'human': 2,
 'fish': 0,
 'monkey': 3,
 'pig': 3,
 (1, 2): 0,
 'centipede': 100}

### Operations

In [26]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}

In [27]:
len(animals_legs)

5

in / not in

In [32]:
'turtle' not in animals_legs

True

### Methods

In [49]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
animals_legs.get('turtle', 5)
# animals_legs['turtle']

4

In [44]:
animals_legs

{'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}

In [50]:
animals_legs.update({'horse': 6})
animals_legs['horse'] = 6

{'horse': 6, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}

delete item

In [3]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
# del animals_legs['horse']
animals_legs.popitem()
animals_legs.pop('horse')
animals_legs

{'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4}

loops

In [7]:
list(animals_legs.items())
list(animals_legs.keys())
list(animals_legs.values())

[('human', 2), ('fish', 0), ('monkey', 3), ('pig', 4)]

In [8]:
animals_legs = {'horse': 4, 'human': 2, 'fish': 0, 'monkey': 3, 'pig': 4, 'turtle': 4}
for key in animals_legs:
    print(key)

horse
human
fish
monkey
pig
turtle

In [9]:
for i, element in enumerate(animals_legs):
    print(i, element)

0 horse
1 human
2 fish
3 monkey
4 pig
5 turtle

In [17]:
for i, ele in animals_legs.items():
    print(i, ele)

horse 4
human 2
fish 0
monkey 3
pig 4
turtle 4

In [18]:
for k in animals_legs.keys():
    print(k)

horse
human
fish
monkey
pig
turtle

In [19]:
for v in animals_legs.values():
    print(v)

4
2
0
3
4
4

In [22]:
animals_legs.clear()
animals_legs

{}