# Containers

## List

In [1]:
empty_list = []
empty_list = list()

numbers = [1, 2, 3, 4]
my_list = [1, 0.2, True, "Vetit", None, [], [1, 2], print, input, empty_list]

Hello+World!

## Length, Indexing, Slicing, Loop

In [2]:
l = [1, True, 0.5]
len(l)

3

In [7]:
s = "Vetit"
l = [1, True, 0.5, "Palm", None, print]
s[3]
l[2]
l[-1]
l[3][1]

'a'

In [11]:
l = [1, True, 0.5, "Palm", None, print]
l[1:3]
l[::-1]

[<function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 None,
 'Palm',
 0.5,
 True,
 1]

## Modifying our list

### Add

In [21]:
l = [1, 2, 3]
l.append(4)
l
l.insert(0, True)
l
l.extend([5, 6, 7, 8, 9, 10])
l += [5, 6, 7, 8, 9, 10] # same as previous line
l

[True, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]

In [26]:
a = [1, 2, 3]
b = [4, 5, 6]
# c = [[1, 2, 3], [4, 5, 6]]
c = []
c.extend([a, b])
c

[[1, 2, 3], [4, 5, 6]]

### Remove

In [31]:
l = [1, 2, 3]
last_element = l.pop(1)
l

[1, 3]

In [43]:
l = [1, True, 0.5, None, 1, "Vetit"]

for element in l:
    print(element)
    if element == 1:
        l.remove(element)

# print(l)

1
0.5
None
1

In [46]:
l = [1, 2, 0.5, None, 1, "Vetit"]
count_of_one = l.count(1)

for i in range(count_of_one):
    l.remove(1)
l

[2, 0.5, None, 'Vetit']

In [1]:
l = [1, 2, 0.5, None, 1, "Vetit"]
new_list = []

for element in l:
    if element != 1:
        new_list.append(element)

new_list

[2, 0.5, None, 'Vetit']

In [2]:
new_list = [element for element in l if element != 1]
new_list

[2, 0.5, None, 'Vetit']

### Update/Change the element

In [5]:
l = [1, 2, 0.5, None, 1, "Vetit"]
l[1] = 3

'e'

## *list (List extractor)

In [12]:
l = [1, True, 0.5, "Palm", None, print]
print(l)
print(*l)

[1, True, 0.5, 'Palm', None, <built-in function print>]
1 True 0.5 Palm None <built-in function print>

In [18]:
zeroes = [0] * 10
[3] + [2]

[3, 2]

In [24]:
l = [1, 2, 1, 3, 1, 4]
l.reverse()
l

[4, 1, 3, 1, 2, 1]

In [34]:
l = [1, 2, 1, 3, 1, 4]
l.sort(reverse=True)
l

[4, 3, 2, 1, 1, 1]

In [39]:
l = ['Vetit', 'Due']
l.sort()
l

['Due', 'Vetit']

### in / not in

In [43]:
s = 'I love pea'
'ov' in s

True

In [49]:
l = [1, 2, 1, 3, 1, 4, [3]]
1 not in l
print([1, 2] in l) # False
print([3] in l)

False
True

List conditionals

In [52]:
l = [1, 2, 1, 3, 1, 4, [3]]
if 5 in l:
    print("YAY")
else:
    print("NOOO")

NOOO

map

In [53]:
l = [1.5, 2.5, 3.5]
list(map(int, l))

[1, 2, 3]

In [54]:
l = [0, 1, 0.0]
list(map(str, l))

['0', '1', '0.0']

In [ ]:
l = list(map(int, input().split()))

### input
1 2 3 4 5
### in code
l = [1, 2, 3, 4, 5]

1 2 3 4 5

In [61]:
l = list(map(int, input().split()))
l

[8, 7, 6, 5, 4, 3, 2, 1]

## Tuple

Tuple is a list but
- immutable (members cannot be changed, added, or deleted)

In [68]:
empty_list = []
empty_tuple = ()
empty_tuple = tuple()

t = (1, 2, 3)
one_element_tuple = (2,)

type(one_element_tuple)

tuple

## All actions
### Tuple 
- if else elif
- loops
- in/ not in
- ~~add ele~~
- ~~remove ele~~
- ~~change ele~~
- .count()
- ~~.sort(), .reverse(), ...~~
- len()
- *list
- map()
- list * 5
- list1 + list2

In [77]:
t = (4, 1, 3)
sorted(t)
list(reversed(t))

[3, 1, 4]

In [78]:
print(*t)

4 1 3

In [81]:
tuple(map(int, input().split()))

(1, 2, 3, 4, 5)

In [82]:
t = (4, 1, 3)
t * 5

(4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3)

In [85]:
t1 = (1, 2, 3) 
t2 = (4, 5, 6)
t1 + t2, t1, t2

((1, 2, 3, 4, 5, 6), (1, 2, 3), (4, 5, 6))

And what's the point of using tuple?

1. Something that should not be changed
2. Lower memory and CPU usage (relative to list)
3. Only Immutable object (in python!) that stores sequence of data