## Commenting

In [7]:
print("hello") # in-line comment
print("from the other sideeeee")

"""
multiline comment
multiline comment2
multiline comment2
multiline comment2
multiline comment2
multiline comment2
"""

hello
from the other sideeeee

'\nmultiline comment\nmultiline comment2\n'

In [14]:
print("Hello world")
print("Hello", "World", "!", "123")
print("Hello", "World", "!", "123", sep="-")
print("Hello", "World", "!", "123", sep="\n")

Hello world
Hello World ! 123
Hello-World-!-123
Hello
World
!
123

## Data type

1. integer - int
2. floating point - float
3. string - str
4. boolean - bool
5. Nonetype - None

In [17]:
# int
1, 2, 0, -1, -5, -0
int()

# float
1.5, -2.4, 3.14, 0.0000000000000000000000
float()

# string
"dfldsojghdfoiujjfdsojcsalk9045u40iofndlj"
'fldsnâ‰¤fdsnmfdnjsjdd'
"""
fdslfjlkds
fdslnfljds
fndaknjfdlfue83y8
"""
str()

# boolean
True, False
bool()

# Nonetype
None

(1.5, -2.4, 3.14, 0.0)

## Type Checking

In [22]:
print(type(0.0))

isinstance(-1, int)

<class 'float'>

False

In [25]:
isinstance(False, int)

True

## Day3

In [4]:
age = 22
firstname = "Vetit"
is_odd = False

age = 23
age = None
print(age)

None

In [ ]:
a = 1
b = 2

first_number = 1
second_number = 2
date_of_birth_of_a_president_of_harbour_space_utcc = 1960 # bad

In [ ]:
name = "fjdl" # OK!
Age = 17 # bad
first_number = 1 # OK!
# 1var = 3 # BAD!
# _1var = 2 # BAD!

# reserved variables (should not use!)
False

## Input

In [9]:
name_input = input("Please enter your name: ")
print("Hello, welcome", name_input)

Hello, welcome 11

In [20]:
# int()
a = int("4")
a = int("-1")
a = int(True)
# a = int("True")
a = int(2.4)
a = int(-2.4)
# a = int("2.4")
# a = int("-2.4")
print(a, type(a))

-2 <class 'int'>

In [27]:
# float()
a = float(-2)
a = float("-2")
a = float("-2.4")
a = float(True)
a = float(False)
# a = float("True")
print(a, type(a))

0.0 <class 'float'>

In [60]:
# bool()
a = bool(1)
a = bool(3)
a = bool(-2)
a = bool(0)
a = bool(0.1)
a = bool(0.0)
a = bool("")
a = bool(None)
print(a, type(a))

True <class 'bool'>

In [57]:
# str()
a = str(1)
a = str(True)
a = str(2.5)
a = str(None)
print(a, type(a))

None <class 'str'>

In [62]:
a = bool(str(float(-2))) # "-2.0"
print(a, type(a))

True <class 'bool'>

# Math Operations

In [76]:
a = 1 + 1
a = 6 - 3
a = 4 * 5
a = int(6 / 3)
a = 6 // 3
a = 7 / 3
a = 7 // 3
a = 2 ** 3
a = 7 % 3
a = 54 % 5
a = 32.2 % 3
a = 10 % 3.3
a

0.10000000000000053

In [77]:
a = 0 ** 0
a

1

In [81]:
9 / 0

ZeroDivisionError: integer division or modulo by zero

In [82]:
9 % 0

ZeroDivisionError: integer modulo by zero

In [84]:
10.0 - 10

20.0

In [87]:
0.1 + 0.2

0.30000000000000004

In [88]:
7 // 3

2

In [89]:
2.5 // 2.5

1.0

In [90]:
2.5 // 2

1.0

In [95]:
# 12.9 -> 12.0
float(int(12.9))
12.9 // 1

12.0

## Order of operations

In [96]:
# () -> ** -> */% -> +-
# PEMDAS
a = (2 * 2) - (2 / 2) - (2 ** 2) # 1st way of reorganizing
a = 2*2 - 2/2 - 2**2 # 2nd way of reorganizing
b = 2 * 2 - 2 / 2 - 4
c = 4 - 1.0 - 4
d = -1.0

-1.0

## Variable Adjustment

In [100]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a
print(a, b)

0.5 6

In [111]:
a = 1
a = a + 4 # SAME
a += 4 # SAME
a -= 3 # SAME TO a = a - 3
a *= 2
a /= 6 # SAME TO a = a / 6
a **= 5
a

32.0

## Logical Operators

In [3]:
a = 5

2 > 3 # False
a < 7 # True
a == 6
a >= 5
a <= 2
a != 5
4 > 3 > 2
3 == 3 != 3

False

In [16]:
# not, and, or
not True
not False

True and True
False and True
False and False
2 > 3 and 3 > 1

# Me or You go to school
True or True
False or True
True or False
False or False

a = 5
b = 6
print(a != b-1 or b**2 > a)

True

In [23]:
user_age = int(input())
user_firstname = input()
user_age, user_firstname

(22, 'Vetit')

## Adder Program

In [30]:
first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
added_result = first_number + second_number
print(added_result)

13

## Convert Celcius to Farenheit

30 C -> 86 F

In [34]:
temp_c = float(input())
temp_f = (temp_c / 5) * 9 + 32
print(temp_f)

68.9

## Why naming?

In [ ]:
time = int(input())

if time < 9:
    print('Good Morning!')
elif time <= 12:
    print('Hello')
elif time < 17:
    print('Good Afternoon')
elif time < 20:
    print('Good Evening')
else:
    print('Goodnight')

In [ ]:
o = int(input())

if o < 9:
    print('Good Morning!')
elif o <= 12:
    print('Hello')
elif o < 17:
    print('Good Afternoon')
elif o < 20:
    print('Good Evening')
else:
    print('Goodnight')

## Converting from Celcius to Farenheit, Kelvin, and Romer

In [36]:
temp_celcius = float(input("Enter temperature in celcius: "))

temp_romer = temp_celcius * 0.8
temp_farenheit = temp_celcius*1.8 + 32
temp_kelvin = temp_celcius + 273

print("C =", temp_celcius)
print("F =", temp_farenheit)
print("R =", temp_romer)
print("K =", temp_kelvin)

C = 45.0
F = 113.0
R = 36.0
K = 318.0

## Maths Functions

In [42]:
abs(-13)
abs(-12.45)
abs(-1.0)

1.0

In [44]:
max(23, 5, -2, 0)
min(23, 5, -2, 0)

-2

In [48]:
round(2.45, 1)
round(-1.2563, 3)
round(986, -2)
# 94 -> 90

1000

## Turtle Library

In [51]:
# importing library
import turtle