# Loops

### While loop

Syntax
```python
while CONDITION:
    ACTION
```

In [ ]:
while True:
    print("Hello") # run endlessly

In [6]:
# 1,2,3,4,5,6,7,8,9,10

number = 1
while number <= 10:
    print(number)
    number += 1     # number = number + 1

1
2
3
4
5
6
7
8
9
10

In [8]:
# 2,4,6,8,...,20
number = 2
while number <= 20:
    print(number)
    number += 2

2
4
6
8
10
12
14
16
18
20

In [14]:
number = 1
while number <= 20:
    if number % 2 == 0:
        print(number)
    else:
        number += 1

2
4
6
8
10
12
14
16
18
20

### break, continue, pass

In [24]:
number = 1
while True:
    print(number)
    if number % 3 == 0 and number % 2 == 0:
        break
    # if number == 2:
    #     continue
    # if number == 2:
    #     pass
    number += 1

1
2
HELLO
3
4
5
6

In [26]:
if True:
    pass

### For loop

range(start, stop, step)

In [ ]:
range(6) # 0,1,2,3,4,5
range(10) # 0-9
range(1) # 0 
range(0) # Nothing
range(-3) # Nothing

range(2, 6) # 2,3,4,5
range(-1, 3) # -1, 0, 1, 2
range(5, 2) # Nothing

range(3, 9, 2) # 3,5,7
range(-3, 7, 3) # -3, 0, 3, 6
range(10, -1, -2) # 10,8,6,4,2,0

```python
for variable_name in range(SOMETHING):
    DO_SOMETHING
```

In [29]:
for number in range(20, 5, -3):
    if number % 2 == 0:
        print(number)

20
14
8

Print square of numbers from 1-10 
1 4 9 16 25 36 ... 100 => 1 ** 2, 2 ** 2, 3 ** 2, ..., 10 ** 2

In [33]:
# for base_num in range(1, 11):
#     print(base_num ** 2)
    
# for base_num in range(10):
#     print((base_num + 1) ** 2)

for num in range(1, 11):
    square_num = num ** 2
    print(num, square_num)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

## Nested Loop

In [ ]:
while True:
    for i in range(10):
        while True:
            if True:
                pass
            elif True:
                pass

In [1]:
for first_number in range(5): # 0-4
    for second_number in range(6): # 0-5
        print(first_number, second_number)

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5

In [2]:
for i in range(2, 5): # 2,3,4
    for j in range(2, 6, 2): # 2,4
        print(i, j)

2 2
2 4
3 2
3 4
4 2
4 4

In [9]:
i = 2
while i < 5:
    for j in range(1, 5, 2):
        print(i, j)
        i += 1

2 1
3 3
4 1
5 3

In [10]:
for i in range(5):
    for j in range(1, i):  
        print(i * j)

2
3
6
4
8
12

# String

In [ ]:
empty_string = ""
empty_string = ''
empty_string = """""" # multi-line string
empty_string = str()

s = "Jedi loves Ve"
s = """
Jedi loves Ve
Jedi loves Aomsub
Jedi loves Soda
Jedi loves Pizza
ジェダイは女の子が大好きです。
"""

my_sentence = 'I am a boy'
# my_sentence = 'I'm a boy' # NOT POSSIBLE
my_sentence = "I'm a boy"
quote = "She said that \"I'm a boy\""

In [19]:
s1 = "Hello, "
s2 = "Vetit"
# "Hello, Vetit"
s1 + s2

'Hello, Vetit'

In [27]:
s3 = "Palm"
s4 = s3 * 3 # s3 + s3 + s3
s4

'PalmPalmPalm'

In [28]:
len(s4)

12

### INDEXING

In [40]:
s = "Hello, world!"
s = "Bangkok, Thailand: 100C"
s[2]
s[-1]

'C'

### Slicing

In [75]:
s = "I love peacock!"
s[1:8] # 1-7 ~ range(1,8)
s[1:8:2] # 1,3,5,7
s[-3:-10:-2] # -3, -5, -7, -9
s[:6] # 0,1,2,3,4,5
s[9:]
s[:]
s[::2]
s[::-1]
s[-15:15]
s1 = s[:6]
s2 = s[10:]
s1 + " " + s2

'I love cock!'